<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css')}}" />
</head>

<body>

  <div class="topbar">
    <b>Chat Bot</b>
  </div>

  <br>
  <div id="messages">
    <!-- Messages appended here. -->
  </div>
  <br>
  <br>
  <div>
    <input id="chat_input" placeholder="Enter message ..." type="text" name="q" autofocus autocomplete="off" onkeydown="send(this)">
  </div>

</body>
<script src="{{ url_for('static', filename='js/chatbot.js')}}"></script>
</html>
