{% extends "base.html" %}

{% block content %}
	<style type="text/css">
      .ui-autocomplete-row
      {
        padding:8px;
        background-color: #f4f4f4;
        border-bottom:1px solid #ccc;
        font-weight:bold;
      }
      .ui-autocomplete-row:hover
      {
        background-color: #ddd;
      }
    </style>
	<h1><b>Welcome to Quora Questions Search</b></h1>
	<form method="get" action="/search">
		<div>
	    	<input id="searchfield" placeholder="Find Similar Movies" type="text" name="q" autofocus autocomplete="off" class="form-control input-lg" style="width: 90%">
	  	</div>
	</form>
  <script src="{{ url_for('static', filename='js/app.js')}}"></script>
{% endblock %}